<div class="container">

    <h1 class="h4 text-center my-5">Курсовая работа на тему:</h1>
    <h1 class="h4 text-center my-5">Автоматизированная система управления вещественными доказательствами</h1>

    <div class="row">
        <div class="col-md-12">

            <div class="card mx-auto text-center mb-4" >
                <!-- Шапка с навигацией -->
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#MVP">MVP</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#developers">Разработчики</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#materials">Материалы</a>
                        </li>
                    </ul>
                </div>
                <!-- Текстовый контент -->
                <div class="card-body tab-content">
                    <div class="tab-pane fade show active" id="MVP">
                        <h4 class="card-title">MVP</h4>
                        <p class="card-text">Ознакомиться с функционалам MVP</p>
                        <a href="/login" class="btn btn-primary">Login</a>
                    </div>
                    <div class="tab-pane fade" id="developers">
                        <h4 class="card-title">Курсовую работу выполнили студенты группы ББСО-02-17:</h4>
                        <p class="card-text"><h5>Иванов Никита Сергеевич</h5></p>
                        <a href="https://github.com/Evgaizen" class="btn btn-primary" target="_blank">GitHub</a>
                        <p class="card-text"><h5>Калугин Дмитрий Алексеевич</h5></p>
                        <a href="https://github.com/d27o" class="btn btn-primary" target="_blank">GitHub</a>
                    </div>
                    <div class="tab-pane fade" id="materials">
                        <h4 class="card-title">Материалы курсовой работы</h4>
                        <p class="card-text"><h5>Ссылка на теоритичсекую часть</h5></p>
                        <a href="#" class="btn btn-primary">GoogleDrive</a>
                        <p class="card-text"><h5>Ссылка на репозиторий с исходным кодом</h5></p>
                        <a href="https://github.com/d27o/node-kursach" target="_blank" class="btn btn-primary">Repo</a>
                    </div>
                </div>
            </div><!-- Конец карточки -->
        </div>
    </div>
</div>