<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Город</th>
            </tr>
        </thead>
        <tbody>
            {{#each specializations}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.name}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>