<div class="jumbotron text-center">
  <h1 class="display-5"><span class="color-symb">А</span>втомазированная <span class="color-symb">С</span>истема <span class="color-symb">У</span>чета <span class="color-symb">В</span>ещественных <span class="color-symb">Д</span>оказательств</h1>
  <h2 class="lead">
    Вы вошли в систему !
  </h2>
</div>
<style>
  .color-symb {
    color: #007bff;
  }
</style>