<div class="jumbotron text-center">
  <h1 class="display-5 welcome-text"><span class="color-symb">А</span><span class="uncolor-symb">втоматизированная</span> <span class="color-symb">С</span><span class="uncolor-symb">истема</span> <span class="color-symb">У</span><span class="uncolor-symb">чета</span> <span class="color-symb">В</span><span class="uncolor-symb">ещественных</span> <span class="color-symb">Д</span><span class="uncolor-symb">оказательств</span></h1>
  <h2 class="lead">
    Вы вошли в систему !
  </h2>
</div>
<style>
  .jumbotron {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  .color-symb {
    color: #007bff;
    -webkit-transition: 1s;
    font-size: 80px;
  }
  .uncolor-symb {
    font-size: 0px;
    -webkit-transition: 1s;
  }
  .welcome-text:hover .uncolor-symb {
    font-size: 30px;
    transition: 1s;
  }
</style>